/* Navbar */
.select-navbar {
    position: absolute;
    top: 15px;  /* adjust value accordingly */
    left: 15px;  /* adjust value accordingly */
    z-index: 1000;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid;
    /*border: 0px solid transparent;*/
    overflow: hidden;

    /* Style */
    background-color: #fff;
    border-radius: 3px;
    /*border-left: 5px solid grey;*/
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
}

.select-navbar select {
    /*Size and Position*/
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    z-index: 1000;
    padding-left: 0.0em;

    /*Style*/ 
    background: white;
    list-style: none;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);

    /* Hiding*/
    opacity: 0;
    pointer-events: none;
}
.select-navbar option {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 15px;
    z-index: 1000;
}

.select-navbar option {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.select-navbar option:hover {
    background-color: #f4f4f4;
}

#map {
    height: 100%;
    overflow: hidden;
}

/* Siteinfo-bar Styles */
.siteinfo-bar {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 0px;
    z-index: 1000;
    background-color: #222222;
    list-style: none;
    transition: 0.2s;
    overflow-x: hidden;
    color: #fff;
}
.siteinfo-bar h3 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 20px 15px 20px 20px;
    line-height: 24px;
    display: inline-block;
    width: 100%;
}
.siteinfo-bar p {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 15px 5px 20px;
    display: inline-block;
    width: 100%;
}
.siteinfo-bar span a {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    line-height: 24px;
    padding: 10px 15px 5px 20px;
    display: inline-block;
    width: 100%;
}
.siteinfo-bar a {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: italic;
    line-height: 24px;
    padding: 10px 15px 5px 20px;
    display: inline-block;
    color: #4f4f4f;
    width: 100%;
}
.siteinfo-bar a:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    background-color: #222222;
}
.siteinfo-bar a:hover:before,
.siteinfo-bar a.open:hover:before {
    width: 100%;
}
.siteinfo-bar a:hover,
.siteinfo-bar a:active,
.siteinfo-bar a:focus,
.siteinfo-bar.open a:hover,
.siteinfo-bar.open a:active,
.siteinfo-bar.open a:focus {
    color: #fd7567;
    background-color: #3a3a3a;
    text-decoration: none;
}
.siteinfo-bar .closebtn {
    position: relative;
    line-height: 24px;
    display: inline-block;
    width: 100%;
}
